body {
  margin: 7% auto;
  width: 80%;
  font-family: 'Lato', sans-serif;
  background: #232c31;
  color: #E0E2E4;
}

a { text-decoration: none; color: #678cb1; }
a:hover { text-decoration: underline; color: #678cb1; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #E0E2E4; }

h1, h2, h3, h4 { font-family: 'Work Sans', sans-serif; color: #8CBBAD; font-weight: 700;}
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Lato', sans-serif; padding: 0px; list-style: none; font-weight: bold;}
nav ul li, footer ul li { display: inline; margin-right: 20px; }

.navbar {
  background: #3f4b4e;
  border-bottom: 1px solid #81969A;
}

.card {
  background: #3f4b4e;
}

.card-text {
  font-size: .9em;
}

.card-link {
  font-size: 1em;
}

.blurb {
  z-index: 1;
}

.projectCard {
  margin: 3px;
  z-index: 3;
  transform-style: preserve-3d;
}

.projectCard:hover {
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px 4px #81969A;
}

footer { border-top: 1px solid #81969A; font-size: .8em; margin-top: 1.9em;}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }
body.posts {
  font-size: 1em;
  color: #E0E2E4;
  background: #E0E2E4;
}

hr {
  border:1px solid #81969A;
}

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

.text-thin {
  font-weight: 300;
}

.my-pictureDiv {
  width: 100%;
  max-height: 20em;
}

img.my-picture {
  display: inline-block;
  max-width: 15em;
  margin: 1em 0 1em 1em;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.btn-primary-outline {
  color: #8CBBAD;
  border: 1px solid #8CBBAD;
}

.btn-primary-outline:hover {
  color: #E0E2E4;
  background: transparent;
  border: 1px solid #8CBBAD;
}

.btn-primary-outline:active {
  color: #8CBBAD;
  background: #ffffff;
  border: 1px solid #8CBBAD;
}

img.my-picture:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.left-marg {
  margin-left: 10%;
  margin-top: 1%;
}