*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #eaa13c;
  background: url(darkgraph.png), repeat;
}

hr {
  width: 100%;
  border: 1px dashed #eaa13c;
  color: #eaa13c;
}

img.my-picture {
  display: block;
  margin: 0 auto 10px;
  max-width: 15em;
  border: 2px dotted #eaa13c;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

img.my-picture:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

a {
  color: #3c85ea;
  text-shadow: 1px 1px #85ea3c;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #3cdcea;
  text-shadow: 1px 1px #ea3c85;
}

a:active {
  color: #4a3cea;
  text-shadow: 1px 1px #85ea3c;
}

.text-thin {
  font-weight: 300;
}

.links {
  font-size: 14px;
}

.buttons {
    float: left;
    margin-left: calc((100% - 180px) / 2);
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 5px 5px 0px 5px;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  background-color: #595959;
  z-index: 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.home {
  background: url("home2.png");
  background-image: url("home2.png");
  background-size: 100%;
  background-position: 0 0;
}

.home:hover {
  background-position: 0 -50px;
}

.github {
  background: url("github2.png");
  background-image: url("github2.png");
  background-size: 100%;
  background-position: 0 0;
  z-index: inherit;
}

.github:hover {
  background-position: 0 -50px;
}

.linkedin {
  background: url("linkedin2.png");
  background-image: url("linkedin2.png");
  background-size: 100%;
  background-position: 0 0;
  z-index: inherit;
}

.linkedin:hover {
  background-position: 0 -50px;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  text-decoration: none;
}

.credits {
  font-size: 12px;
}

@media screen and (max-width: 380px) {

hr {
  width: 66%;
}

  .icon-bar {
    margin-top: 50px;
  }

  .title-super {
    font-size: 36px;
  }

}

@media screen and (min-width: 381px) {

  hr {
    width: 33%;
  }

  .title-super {
    font-size: 48px;
  }
}