*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: linear-gradient(silver, black);
  font-family: 'Cabin', Geneva, sans-serif;
  margin: 0;
  color: #ffd700;
  text-shadow: 1px 1px #696969;
}

img.my-picture {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
  border: 3px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.text-thin {
  font-weight: 400;
}

.links {
  font-size: 14px;
}

.buttons {
    float: left;
    margin-left: calc((100% - 300px) / 2);
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}

.icon-mono {
  background-color: #595959;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.home {
  background: url("home.svg");
  background-image: url("home.svg"), none;
  background-size: 100%;
  background-position: 0 0;
}

.home:hover {
  background-color: gold;
  background-position: 0 -96px;
}

.github {
  background: url("github.svg");
  background-image: url("github.svg"), none;
  background-size: 100%;
  background-position: 0 0;
}

.github:hover {
  background-color: #4d79ff;
  background-position: 0 -96px;
}

.icon.linkedin {
  background: url("linkedin.svg");
  background-image: url("linkedin.svg"), none;
  background-size: 100%;
  background-position: 0 0;
}

.icon.linkedin:hover {
  background-color: dark-grey;
  background-position: 0 -96px;
}

ul {
  list-style-type: none;
}

a {
  color: #00bfff;
}

a:hover {
  color: #75ff47;
}

a:active {
  color: #ff4719;
}

@media screen and (max-width: 380px) {
  .title-super {
    font-size: 36px;
  }
}

@media screen and (min-width: 381px) {
  .title-super {
    font-size: 48px;
  }
}