<section class="sidebar">
  <a href="/" aria-label="Avatar">
    <img src="{{ site.github.owner_gravatar_url }}?s=150" height="75" width="75" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <span id="lname">{{ site.name|split:' '|last }}</span>
    </a>
  </section>

  <section class="meta">
    <a href="{{ site.github.owner_url }}" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank" title="Follow me on Twitter" aria-label="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/kfmahre/" target="_blank" title="Visit my linkedin profile" aria-label="Visit my linkedin profile"><i class="fa fa-linkedin-square"></i></a>
    <a href="http://kfmahre.github.io/Portfolio/" target="_blank" title="Visit my portfolio" aria-label="Visit my portfolio"><i class="fa fa-briefcase"></i></a>
    <!--<a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa fa-rss"></i></a>-->
  </section>

  <section class="sections">
    <ul>
      <li><a href="/about.html">about</a></li>
      <li><a href="/">posts</a></li>
    </ul>
    <ul>
      <li><a class="btn btn-secondary btn-sm" href="http://kfmahre.github.io/Portfolio/">Portfolio</a></li>
    </ul>
  </section>
</section>
