html{
	width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background: #f5f5f5;
  background: -webkit-linear-gradient(left, #00CB84, #00DDFF);
  background: -moz-linear-gradient(left, #00CB84, #00DDFF);
  background: -o-linear-gradient(left, red, yellow);
  background: linear-gradient(left, red, yellow);
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #111;
	width: 80%;
  margin: 0 auto;
	padding: 50px;
}

h1, h2, h3, h4, h5, h6, article h1{font-size: all!important; font-weight: 700;}

a{
	text-decoration: none;
	color: #fff;
}

ul.nav-items{
	position: relative;
}
li.nav-item{
	font-size: 20pt;
	float: left;
	list-style: none;
}
li.nav-item{
	margin-right: 10px;
}
ul.posts, li.post{
	list-style: none;
  padding: 0; margin: 0;
}
a.col-md li, ul.row{
	list-style: none;
	margin: 0;
	padding: 0;
}

hr{
	display: block;
	height: 2px;
	border: 0;
	background-color: #DBDBEB;
}

/**
 * Posts Settings
 */
.page-heading, .post-title{text-transform: uppercase;}

/**
 * Text Rendering
 */
 *{text-rendering: optimizeLegibility;}
.text-justify{text-align: justify;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
/**
 * Figures
 */
figure {
	margin: 0 40px;
	border: 4px solid #3C3C3C;
	border-radius: 5px;
	overflow: auto;
	position: relative;
}
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }
/**
 * Code formatting
 */
pre,
code {
  font-size: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #e6e6e6;}

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  margin: 0; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #272822; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
