<!DOCTYPE html>
<html lang="en" class="bg-grey-dk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>
  </head>


  <body class="bg-grey-lt">


    <nav>
      <ul class="navbar navbar-fixed-top bg-grey-md">
        <li class="nav-item left-marg"><a class="nav-link" href="/"><p>Home</p></a></li>
        <li class="nav-item left-marg"><a class="nav-link" href="/about"><p>About</p></a></li>
        <li class="nav-item left-marg"><a class="nav-link" href="/cv"><p>CV</p></a></li>
        <li class="nav-item left-marg"><a class="nav-link" href="/blog"><p>Blog</p></a></li>
      </ul>
    </nav>


  <div class="container">

  {{ content }}

  </div>

  <footer>
   <ul>
   <li><a href="mailto:kfmahre@gmail.com">email</a></li>
   <li><a href="https://github.com/kfmahre">github.com/kfmahre</a></li>
   </ul>
  </footer>

  <script src="/js/jQuery.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/angular.min.js"></script>
  </body>

</html>
