---
layout: default
author: Brayan López
---
<div class="row post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="col-12 post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
			{% if page.author %} • 
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name"><a href="">{{ page.author }}</a></span>
			</span>{% endif %}
		</p>
	</header>
	<article class="post-content" itemprop="articleBody">
		{{ content }}
	</article>
	{% if site.disqus.shortname %}
		{% include disqus_comments.html %}
	{% endif %}
</div>
