---
layout: default
---
<style>

body {
  color: #E0E2E4;
  background: #71898e;
}

h1, h2, h3, h4 {
  color: #232c31;
}

a { text-decoration: none; color: #3f4b4e; }
a:hover { text-decoration: underline; color: #3f4b4e; }

.navbar {
  border-bottom: 1px solid #232c31;
}

footer {
  border-top: 1px solid #232c31;
}

hr {
  border:1px solid #3f4b4e;
}

p {
  text-shadow: 1px 1px 1px #3f4b4e;
}

</style>
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
