<!--DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

		{% for my_page in site.pages %}
			{% if my_page.title %}
				<a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
			{% endif %}
        {% endfor %}
</html-->